* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: sans-serif;
}

.Hero {
  width: 100%;
  height: 100vh;
  background: #373868;
  position: relative;
}

.image {
  position: relative;
  width: 100%;
  height: 100vh;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-Filter {
  position: absolute;
  top: 0;
  left: 0;
  background: #1c1d53;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.join-btn {
  color: #000;
  text-decoration: none;
}

.text {
  position: absolute;
  width: 35vw;
  height: 34vh;
  /* background-color: red; */
  top: 50%;
  left: 29%;
  transform: translate(-50%, -50%);
}

.text h1 {
  font-size: 4vw;
  color: #fff;
}
.text h1 span {
  color: #fcd880;
}
.text h2 {
  font-size: 2vw;
  color: #fff;
  margin-top: 1vw;
}

.text p {
  font-size: 1.2vw;
  color: #fff;
  margin-top: 1vw;
  line-height: 1.6vw;
}

.text button {
  margin-top: 2vw;
  padding: 1vw 2vw;
  border-radius: 10px;
  border: none;

  background-color: #fcd880;
  color: #373868;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
}
.text button:hover {
  background-color: #fff;
  color: #1c1d53;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  padding: 0 10vw;
}

.Intro {
  width: 80vw;
  height: 25vw;
  margin-top: 9vw;
  display: flex;
}
.introleft {
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  padding: 1vw;
}
.introImg {
  width: 100%;
  height: 100%;
  /* background: yellow; */
  border-radius: 20px;
  overflow: hidden;
}
.introImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}
.introImg img:hover {
  transform: scale(1.1);
}
.introright {
  width: 50%;
  height: 100%;
  /* background-color: green; */
  padding: 1vw 4vw;
}
.introtext {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.introtext h1 {
  font-size: 3.5vw;
  color: #233040;
}
.introtext p {
  font-size: 1.3vw;
  color: #dfd6db;
  line-height: 1.6vw;
  margin-top: 1vw;
}

.Explore {
  width: 80vw;
  min-height: 60vw;
  /* background: red; */
  margin-top: 5vw;
  padding: 1vw;
  margin-bottom: -5vw;
}

.exploreText {
  height: 50%;
  width: 50%;
  /* background-color: blue; */
}

.exploreText h1 {
  font-size: 3.5vw;
  color: #233040;
}
.exploreText p {
  font-size: 1.3vw;
  color: #dfd6db;
  line-height: 1.6vw;
  margin-top: 1vw;
}

.explore-Container {
  width: 100%;
  height: 50vw;
  padding: 1vw 6vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  margin-top: 2vw;
  /* background-color: red; */
}

.explore-Card {
  width: 20vw;
  height: 37vh;
  /* background-color: red; */
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.explore-Card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

.explore-Card-Img {
  overflow: hidden;
  width: 100%;
  height: 50%;
  background-color: blue;
}
.explore-Card-Img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-Card-BOTTOM {
  width: 100%;
  height: 50%;
  /* background-color: #95919149; */
  padding: 0 1.5vw;
}
.explore-Card-DIS-Top {
  width: 100%;
  height: 55%;
  /* background-color: orange; */
}
.explore-Card-DIS-Top .TIMER {
  width: 100%;
  height: 30%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding-top: 0.4vw;
}
.explore-Card-DIS-Top .TIMER i {
  font-size: 1vw;
  /* color: #fff; */
}
.explore-Card-DIS-Top .TIMER p {
  font-size: 0.9vw;
  color: #111;
  margin-left: 0.5vw;
  font-weight: 600;
  opacity: 0.5;
}

.explore-Card-DIS-Top .HEADING {
  width: 100%;
  height: 70%;
  /* background-color: blue; */
  padding: 0.5vw 0;
}

.explore-Card-DIS {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.explore-Card-DIS-Bot {
  width: 100%;
  height: 45%;
  /* background-color: yellow; */
  border-top: 2px solid #deddf1;
  display: flex;
  align-items: center;
  /* gap: 0.5vw;   */
}

.explore-Card-DIS-Bot .Image {
  width: 3vw;
  height: 3vw;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
}
.explore-Card-DIS-Bot .Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-Card-DIS-Bot-left {
  width: 80%;
  height: 100%;
  padding: 1vw;

  /* background-color: blue; */
}
.explore-Card-DIS-Bot-left h2 {
  font-size: 1.2vw;
  color: #233040;
}
.explore-Card-DIS-Bot-left p {
  font-size: 1vw;
  color: #897b82;
}

.Whyjoin {
  width: 80vw;
  height: 35vw;
  margin-top: 9vw;
  display: flex;
  /* background-color: red;. */
}

.WhyjoinLeft {
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  padding: 1vw 4vw;
}

.WhyjoinRight {
  width: 50%;
  height: 100%;
  /* background-color: green; */
  padding: 1vw;
}
.WhyjoinImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.WhyjoinRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}

.WhyjoinRight img:hover {
  transform: scale(1.1);
}

.WhyjoinLeft h1 {
  font-size: 3.9vw;
  color: #233040;
  font-weight: 900;
}
.WhyjoinLeft p {
  font-size: 1.3vw;
  color: #897b82;
}

.WhyjoinLeft ul {
  margin-top: 1vw;
  margin-left: 2.2vw;
}

.WhyjoinLeft ul li {
  font-size: 1.2vw;
  color: #897b82;
}
.WhyjoinLeft ul li b {
  font-weight: 900;
  color: #233040;
}

.Media {
  width: 80vw;
  height: 25vw;
  margin-top: 9vw;
  background-color: #1c1d53;
  border-radius: 30px;
  padding: 0vw 0vw;
  overflow: hidden;
  display: flex;
}

.MediaLeft {
  width: 40%;
  height: 100%;
  position: relative;
}

.ImgFilter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, #1c1d53, transparent);
}

.MediaLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MediaRight {
  width: 60%;
  height: 100%;
  /* background-color: red; */
  padding: 2vw 3vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MediaRight h1 {
  font-size: 3.5vw;
  color: #fff;
}

.MediaRight p {
  font-size: 1.1vw;
  color: #fff;
}
.MediaRight h5 {
  font-size: 1.2vw;
  color: #fff;
}
.MediaRight ul {
  margin-left: 2.2vw;
}
.MediaRight ul li {
  font-size: 1.2vw;
  color: #fff;
  margin-top: 0.6vw;
}

.CoreTeam {
  width: 80vw;
  height: 35vw;
  margin-top: 9vw;
  /* background-color: red; */
}

.CoreTeamText {
  width: 50%;
  height: 30%;
  /* background-color: blue; */
}

.CoreTeamText h1 {
  font-size: 3.5vw;
  color: #233040;
}

.CoreTeamText p {
  font-size: 1.3vw;
  color: #897b82;
  line-height: 1.6vw;
  margin-top: 1vw;
}

.CoreTeamCards {
  width: 100%;
  height: 70%;
  /* background-color: green; */
  padding: 1vw;
  display: flex;
  gap: 2vw;
}

.CoreTeamCard {
  width: 30%;
  height: 100%;
  /* background: red; */
}

.CoreImg {
  width: 100%;
  height: 80%;
  background: yellow;
  border-radius: 20px;
  overflow: hidden;
}

.CoreImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.CoreImg img:hover {
  transform: scale(1.03);
}

.CoreDisCription {
  width: 100%;
  height: 20%;
  /* background: red; */
}
.CoreDisCription h2 {
  font-size: 1.2vw;
  color: #373868;
  margin-top: 0.4vw;
}
.CoreDisCription p {
  margin-top: 0.3vw;
  font-size: 1.2vw;
  color: blue;
  cursor: pointer;
}

.CoreDisCription a {
  text-decoration: none;
  color: black;
  opacity: 0.6;
  font-size: 1.2vw;
}

.footer {
  width: 100%;
  height: 40vh;
  background-color: #efefef;
  margin-top: 1vw;
}

.footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .Hero {
    height: 100vh;
  }

  .image {
    height: 100vh;
  }

  .text {
    width: 80vw;
    height: auto;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 3vw;
  }

  .text h1 {
    font-size: 16vw;
  }

  .text h2 {
    font-size: 8vw;
    margin-top: 2vw;
  }

  .text p {
    font-size: 5vw;
    line-height: 6vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }

  .text button {
    padding: 5vw 8vw;
    font-size: 5vw;
  }
  .overlay-Filter {
    opacity: 0.85;
  }
  .page {
    padding: 0 2vw;
  }

  .Intro {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 10vw;
  }

  .introleft,
  .introright {
    width: 100%;
    height: auto;
  }

  .introtext h1 {
    font-size: 12vw;
    font-weight: 900;
    /* width: 50%; */
    margin-top: 2vw;
  }

  .introtext p {
    font-size: 5vw;
    line-height: 6vw;
  }
  .introtext p:nth-child(2) {
    margin-top: 10vw;
  }

  .Explore {
    width: 100%;
    padding: 2vw;
    /* background-color: #000; */
    margin-bottom: 5vw;
  }

  .explore-Card {
    text-decoration: none;
    color: #000;
  }
  .exploreText {
    width: 100%;
    text-align: left;
    margin-bottom: 4vw;
  }

  .explore-Container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* margin-bottom: -10vw; */
  }
  .marq {
    /* margin-top: 10vw; */
    font-size: 10vw;
    margin-bottom: 10vw;
  }

  .Whyjoin {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 5vw;
  }

  .WhyjoinLeft,
  .WhyjoinRight {
    width: 100%;
    height: auto;
  }

  .WhyjoinLeft h1 {
    font-size: 12vw;
  }

  .WhyjoinLeft p {
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  .WhyjoinLeft ul li {
    font-size: 4vw;
    margin-left: 1vw;
    margin-top: 2vw;
  }

  .exploreText h1 {
    font-size: 13vw;
    width: 80%;
  }

  .exploreText p {
    font-size: 5vw;
    line-height: 6vw;
  }

  .explore-Container {
    flex-direction: column;
  }

  .CoreTeam {
    width: 100%;
    height: auto;
    padding: 2vw;
    /* padding: 6vw; */
  }
  .CoreTeamText h1 {
    font-size: 12vw;
    width: 100%;
  }

  .CoreTeamText {
    width: 100%;
  }

  .CoreTeamText p {
    font-size: 5vw;
    margin-bottom: 2vw;
    line-height: 6vw;
  }

  .CoreTeamCards {
    flex-direction: column;
    gap: 3vw;
    /* background-color: yellow; */
    padding-left: 9vw;
  }

  .CoreTeamCard {
    width: 90%;
    height: auto;
  }

  .CoreImg {
    height: 50vw;
  }

  .CoreDisCription h2 {
    font-size: 4vw;
    text-align: center;
  }

  .CoreDisCription p {
    font-size: 3vw;
  }

  .CoreDisCription a {
    text-align: center;
    margin-left: 40%;
    font-size: 4.7vw;
    text-decoration: none;
    color: black;
    opacity: 0.5;
  }

  .footer {
    height: 30vh;
  }
}

/* Responsive styling for phone screens */
@media (max-width: 600px) {
  .explore-Container {
    padding: 5vw 2vw;
    gap: 10vw;
    margin-top: 4vw;
  }

  .explore-Card {
    width: 90vw;
    height: 90vw;
    border-radius: 20px;
    /* background-color: yellow; */
  }

  .explore-Card-Img {
    height: 60%;
  }

  .explore-Card-Img img {
    height: 100%;
    object-fit: cover;
  }

  .explore-Card-BOTTOM {
    padding: 3vw;
    /* background-color: yellow; */
  }

  .explore-Card-DIS-Top .TIMER i {
    font-size: 4vw;
  }

  .explore-Card-DIS-Top .TIMER p {
    font-size: 3.5vw;
  }

  .explore-Card-DIS-Bot {
    border-top: 1px solid #deddf1;
    margin-top: -4vw;
  }

  .explore-Card-DIS-Bot .Image {
    width: 10vw;
    height: 10vw;
    margin-top: -3.5vw;
  }
  .explore-Card-DIS-Bot {
    margin-top: -4vw;
  }
  .explore-Card-DIS-Bot-left h2 {
    font-size: 4vw;
    margin-top: 1vw;
  }

  .explore-Card-DIS-Bot-left {
    margin-left: 4vw;
  }
  .explore-Card-DIS-Bot-left p {
    font-size: 3vw;
    margin-top: 1vw;
  }
}

/* Social Media Icons */
.social-media {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center align the icons */
  align-items: center; /* Center vertically */
  background-color: #282c34; /* Background color for the footer */
  padding: 20px; /* Padding around the icons */
  position: relative; /* To position any additional elements if needed */
}

.social-media a {
  color: #ffffff; /* Icon color */
  font-size: 24px; /* Icon size */
  margin: 0 15px; /* Space between icons */
  transition: transform 0.2s; /* Smooth hover effect */
}

.social-media a:hover {
  transform: scale(1.1); /* Scale effect on hover */
  color: #61dafb; /* Change color on hover */
}
.marquee-container {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent line breaks */
  width: 100%; /* Full width of the container */
  background-color: #fff; /* Optional: Background color */
  height: 19vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee {
  display: inline-block;
  margin-top: 1vw;
  animation: marquee 35s linear infinite; /* Animation for scrolling */
}

.marquee p {
  font-size: 5vw;
  font-weight: 900;
  opacity: 0.3; /* Opacity of the text */
  margin: 0; /* Remove default margin */
}

/* Ensuring that there are two copies of the text to create a seamless effect */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
